.chekiciDiv {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.parcaBir {
    width: 50%;
    height: 1080px;
    background: #FD8F5C;
    position: relative;
}

.parcaBir img {
    margin-left: -100px;
}

.parcaIki {
    width: 50%;
    height: 1080px;
    background: #EC6734;
}