.kapsayiciDiv {
    height: 100vh;
    background-color: #ffff;
}

.buAnaDiv {
    background-color: #ffff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-title {
    font-size: 124px;
    font-weight: 800;
}